aiohappyeyeballs==2.6.1
aiohttp==3.13.2
aiohttp-jinja2==1.6
aiosignal==1.4.0
aiosqlite==0.22.1
alembic==1.18.3
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.12.1
asttokens==3.0.1
asyncpg==0.31.0
attrs==25.4.0
audioop-lts==0.2.2
Authlib==1.6.9
bandit==1.9.4
beautifulsoup4==4.14.3
cachetools==6.2.6
certifi==2026.1.4
cffi==2.0.0
cfgv==3.5.0
charset-normalizer==3.4.4
click==8.3.1
colorama==0.4.6
cryptography==46.0.4
decorator==5.2.1
Deprecated==1.3.1
deprecation==2.1.0
discord.py==2.6.4
distlib==0.4.0
distro==1.9.0
dnspython==2.8.0
docutils==0.22.4
docx2txt==0.9
dparse==0.6.4
email-validator==2.3.0
executing==2.2.1
fastapi==0.128.0
fastapi-cli==0.0.20
fastapi-cloud-cli==0.11.0
fastar==0.8.0
filelock==3.25.2
flake8==7.3.0
frozenlist==1.8.0
fsspec==2026.1.0
greenlet==3.3.0
groq==1.0.0
h11==0.16.0
h2==4.3.0
hpack==4.1.0
httpcore==1.0.9
httptools==0.7.1
httpx==0.28.1
hyperframe==6.1.0
icecream==2.1.10
id==1.6.1
identify==2.6.17
idna==3.11
iniconfig==2.3.0
ipython==9.11.0
ipython_pygments_lexers==1.1.1
jaraco.classes==3.4.0
jaraco.context==6.1.2
jaraco.functools==4.4.0
jedi==0.19.2
Jinja2==3.1.6
jiter==0.13.0
joblib==1.5.3
keyring==25.7.0
librt==0.8.1
limits==5.8.0
linkify-it-py==2.1.0
Mako==1.3.10
markdown-it-py==4.0.0
MarkupSafe==3.0.3
marshmallow==4.2.2
matplotlib-inline==0.2.1
mccabe==0.7.0
mdit-py-plugins==0.5.0
mdurl==0.1.2
mmh3==5.2.0
more-itertools==11.0.2
msgpack==1.1.2
multidict==6.7.1
mypy==1.19.1
mypy_extensions==1.1.0
nh3==0.3.5
nltk==3.9.3
nodeenv==1.10.0
Nuitka==4.0.8
objprint==0.3.0
openai==2.28.0
packaging==26.0
parso==0.8.6
pathspec==1.0.4
pillow==12.1.0
platformdirs==4.9.4
pluggy==1.6.0
postgrest==2.27.2
pre_commit==4.5.1
progress==1.6.1
prompt_toolkit==3.0.52
propcache==0.4.1
psutil==7.2.2
psycopg2-binary==2.9.11
pure_eval==0.2.3
pycodestyle==2.14.0
pycparser==3.0
pydantic==2.12.5
pydantic-extra-types==2.11.0
pydantic-settings==2.12.0
pydantic_core==2.41.5
pyflakes==3.4.0
Pygments==2.19.2
pyiceberg==0.10.0
PyJWT==2.11.0
pyparsing==3.3.2
pyright==1.1.408
pyroaring==1.0.3
pytest==9.0.2
pytest-asyncio==1.3.0
python-dateutil==2.9.0.post0
python-discovery==1.1.3
python-dotenv==1.2.1
python-multipart==0.0.22
pywin32-ctypes==0.2.3
PyYAML==6.0.3
readme_renderer==44.0
realtime==2.27.2
redis==7.1.0
regex==2026.2.28
requests==2.32.5
requests-toolbelt==1.0.0
rfc3986==2.0.0
rich==14.3.1
rich-toolkit==0.17.1
rignore==0.7.6
ruamel.yaml==0.19.1
ruff==0.15.6
safety==3.7.0
safety-schemas==0.0.16
sentry-sdk==2.50.0
shellingham==1.5.4
six==1.17.0
slowapi==0.1.9
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.8
SQLAlchemy==2.0.46
sqlmodel==0.0.31
stack-data==0.6.3
starlette==0.50.0
static_ffmpeg==3.0
stevedore==5.7.0
storage3==2.27.2
StrEnum==0.4.15
strictyaml==1.7.3
supabase==2.27.2
supabase-auth==2.27.2
supabase-functions==2.27.2
synconvert==1.0.0
tenacity==9.1.2
textual==8.1.1
textual-dev==1.8.0
textual-serve==1.1.3
tomlkit==0.14.0
tqdm==4.67.3
traitlets==5.14.3
twine==6.2.0
twitchio==3.1.0
typer==0.21.1
types-psutil==7.2.2.20260408
typing-inspection==0.4.2
typing_extensions==4.15.0
uc-micro-py==2.0.0
urllib3==2.6.3
uv==0.10.10
uvicorn==0.40.0
virtualenv==21.2.0
viztracer==1.1.1
vulture==2.16
watchfiles==1.1.1
wcwidth==0.6.0
websockets==15.0.1
wrapt==2.1.1
yarl==1.22.0
zstandard==0.25.0
